@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght,CRSV@100..900,0&family=Noto+Sans+Newa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');