@import "tailwindcss";
@theme {
    --font-test: "Oswald", "sans-serif";
    --font-secondary: "Bitcount Grid Single", "sans-serif";
    --font-weird: "Noto Sans", "sans-serif";
    --font-gta: "Badeen Display", "sans-serif";
    --font-shadowy: "Shadows Into Light", "cursive";
}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

